/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playpen Sans', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: absolute;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
    /* Make main element take any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
        display: flex;
        flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
    }

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(238, 215, 172, 0.812);
    font-size: 150%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    }

    #cover-text > h2, #cover-text > h3, #cover-text>h4 {
        color: #ffffff;
        }

/* Who we are */
#who {
    width: 90%;
    margin: 20px auto;
}

#who h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#story > div {
     line-height: 20px;
     margin-bottom: 20px;
    }

        #story p {
            padding: 0 20px;
        }
    
        #story hr {
            border-top: 1px solid #3a3a3a;
            margin: 5px 0;
        }
        .story iframeiframe {
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
        }

                /* Form */
                #reservations {
                    background-image: url("../images/reservations.webp");
                    background-size: cover;
                    background-position: 75%;
                    padding: 20px 10% 0 10%;
                    flex-grow: 1;
                }
                                #signup-form {
                                    color: #ffffff;
                                    background-color: rgba(60, 60, 60, 0.6);
                                    padding: 30px;
                                }
                #signup-form>h2 {
                    color: #fafafa;
                    margin-bottom: 20px;
                }
.text-input {
    background: transparent;
    color: #fb0000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ff0000;
    border-radius: 2px;
    padding: 0 5px;
}
                .submit {
    margin-top: 20px;
    border-radius: 50px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #ff0000;
    color: #000000;
}
/* Menu page */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

.menu {
    font-family: 'Playpen Sans', cursive;
    font-size: 14px;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item {
    display: flex;
}

.menu-item-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-desc {
    line-height: 1.6;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
    }

/* Media query: tablets and larger (768x and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content, pushing it down to commodate larger header */
    main {
        margin-top: 79px;
    }
    /* Hero */
    #cover-text {
        width: 400px;
        right: 50px;
        }
}


@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-img {
        width: 125px;
        height: 125px;
    }
}
/* Larger devices (Laptops and desktops 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}